<div class="ms-3 mt-3">
  <h1>Stupid coaching</h1>
  <p>ask your coach anything</p>

  <form action="answer" data-turbo="false" class="mt-2 d-flex input-group-lg w-25">
    <input type="text" name="question" class="form-control">
    <button class="btn btn-primary"> ask</button>
  </form>
</div>
